
/* Start css reset */
/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}
/* Typographic tweaks! 4. Add accessible line-height 5. Improve text rendering */
body {
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font-size: 12px;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* End css reset */

.form {
  width: 100%;
  font-family: Verdana, sans-serif;
}
[data-step],
.form[data-current-step="4"] .action {
  display: none;
}
.form[data-current-step="1"] [data-step="1"],
.form[data-current-step="2"] [data-step="2"],
.form[data-current-step="3"] [data-step="3"],
.form[data-current-step="4"] [data-step="4"] {
  display: block;
}
.row-container {
  align-items: center;
  background: #cce;
  display: grid;
  gap: 8px;
  margin: 0;
  padding: 4px 10px;
}

.information {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
}
.action {
  align-items: center;
  display: flex;
}
.logo {
  align-items: center;
  display: flex;
  gap: 8px;
}
.logo img {
  width: 15px;
}
.logo p {
  display: none;
}
button {
  background-color: transparent;
  border-radius: 5px;
  margin-right: 8px;
}
.star {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold
}
.star:before {
  content: "☆";
}
.full.star:before {
  content: "★";
  color: gold;
}

.inline .row-container,
.inline .row-container.active {
  display: flex;
  min-height: 35px;
}
.inline .row-container .information {
  display: flex;
  flex-grow: 100;
}
.row-container .information input {
  flex: 1;
}
.inline .row-container[data-step="4"] .information {
  flex-grow: 0;
}

.small .row-container .information {
  display: flex;
}

.medium .row-container .information {
  grid-auto-flow: row;
}
.medium .logo p {
  display: block;
}
p {
  font-size: 12px
}

div[data-step="2"] {
  white-space: nowrap;
}