@import url("../../../node_modules/bootstrap/dist/css/bootstrap.css");

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  transform: scale(1.4);
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding: 10px;
}

.collapse {
  margin-top: 15px;
}
.container {
  min-width: 400px;
  min-height: 400px;
}

.toast {
  width: auto;
}