.winbox {
  border-radius: 10px;
  overflow: hidden;
}

.nav-away {
  background-size: 15px auto;
  filter: invert(1);
}

.nav-back,
.open-options {
  background-size: 20px auto;
  filter: invert(1);
}
