<div class="header">
  <div class="logo">
    <img src="assets/images/audate-full.png" />
  </div>
  <h1>welcome <br />to increased<br /><span>productivity</span></h1>
</div>
<audate-audio-waves [config]="headerWave"></audate-audio-waves>
<div class="content">
  <h2>Get Started</h2>
  <div class="pin-extension">
    <img src="assets/images/pin-audate.gif" alt="Pin Audate Extension" />
  </div>
  <div class="mic-permission">
    <img
      src="assets/images/mic-permission.png"
      alt="Grant Microphone Permission"
    />
  </div>
  <div class="configure-options">
    <audate-voice-search></audate-voice-search>
  </div>
</div>
<audate-audio-waves [config]="footerWave"></audate-audio-waves>
<div class="footer">
  <img src="assets/images/audate-logo.png" />
  <a href="#">Features</a><br />
  <a href="#">Contact Us</a>
</div>
