@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sora:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,900;1,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer {
    margin-top: auto;
}

.navigation {
    border-bottom: 1px solid #d2d2d2;
}

.nav-link {
    font-size: 1.1rem;
    margin: 2px 6px;
    color: #000 !important;
}

.logo {
    max-height: 65px;
}

.heading {
    font-weight: 600;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 52px;
}

.customBtn {
    padding: 8px 40px;
    margin-top: 20px;
}
.navbar-toggler{
    outline: none !important;
    box-shadow: none !important;
}
form label{
    font-size: 1.1rem;
}