<div [ngClass]="{
                'p-dialog-mask': true, 
                'p-dialog-mask-scrollblocker': this.blockScroll,
                'p-dialog-left': position === 'left',
                'p-dialog-right': position === 'right',
                'p-dialog-top': position === 'top',
                'p-dialog-top-left': position === 'topleft' || position === 'top-left',
                'p-dialog-top-right': position === 'topright' || position === 'top-right',
                'p-dialog-bottom': position === 'bottom',
                'p-dialog-bottom-left': position === 'bottomleft' || position === 'bottom-left',
                'p-dialog-bottom-right': position === 'bottomright' || position === 'bottom-right'}">
    <div #container
        [ngClass]="{'p-dialog p-component':true, 'p-dialog-rtl':rtl,'p-dialog-draggable':draggable,'p-dialog-resizable':resizable}"
        [ngStyle]="style" [class]="styleClass" *ngIf="visible" pFocusTrap [pFocusTrapDisabled]="focusTrap === false"
        [@animation]="{value: 'visible', params: {transform: transformOptions, transition: transitionOptions}}"
        (@animation.start)="onAnimationStart($event)" (@animation.done)="onAnimationEnd($event)" role="dialog"
        [attr.aria-labelledby]="id + '-label'">
        <div *ngIf="resizable" class="p-resizable-handle p-resize-sw" style="z-index: 90;" (mousedown)="initResize($event, 'sw')"></div>
        <div *ngIf="resizable" class="p-resizable-handle p-resize-se" style="z-index: 90;" (mousedown)="initResize($event, 'se')"></div>
        <div #titlebar class="p-dialog-header" (mousedown)="initDrag($event)" *ngIf="showHeader">
            <span [attr.id]="id + '-label'" class="p-dialog-title">
                <img class="p-dialog-title-icon" [src]="headerIconUrl"/>
                <span class="p-dialog-title-text">{{headerText}}</span>
            </span>
            <div class="p-dialog-header-icons">
                <button type="button"
                    [ngClass]="{'p-dialog-header-icon p-dialog-header-new-tab p-link':true}" (click)="openInNewTab()"
                    (keydown.enter)="openInNewTab()" tabindex="-1" pRipple>
                    <span class="p-dialog-header-new-tab-icon"
                        [ngClass]="newTabIcon"></span>
                </button>
                <button *ngIf="closable" type="button"
                    [ngClass]="{'p-dialog-header-icon p-dialog-header-close p-link':true}"
                    [attr.aria-label]="closeAriaLabel" (click)="close($event)" (keydown.enter)="close($event)"
                    [attr.tabindex]="closeTabindex" pRipple>
                    <span class="p-dialog-header-close-icon" [ngClass]="closeIcon"></span>
                </button>
            </div>
        </div>
        <div #content [ngClass]="'p-dialog-content'" [ngStyle]="contentStyle" [class]="contentStyleClass">
            <ng-content></ng-content>
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
            <div class="input-capture" [ngClass]="{'capturing-active': resizing || dragging}"></div>
        </div>
        <div #footer class="p-dialog-footer" *ngIf="footerFacet || footerTemplate">
            <ng-content select="p-footer"></ng-content>
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
        </div>
    </div>
</div>